.appcloud/.project
.settings
.sfdx
.vscode
testoutput
/browser_tests
/test_results.xml
build.properties
salesforce.schema
**src
Thumbs.db
/Referenced Packages
/pulled
.DS_Store
/IlluminatedCloud
/projectFilesBackup
.idea
*.iml
kramden.xml
unpackaged.zip
certificates